# MongoDB Configuration for Deeplink Creators
MONGODB_URI="mongodb+srv://<username>:<password>@crm-deeplink.bnjkhcn.mongodb.net/?retryWrites=true&w=majority&appName=crm-deeplink"
MONGODB_DB="deeplink-data"
